.container-fluid {
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
}

.non-selected {
  position: relative;
}

.reading-list {
  margin-left: auto;
  background-color: #999;
  height: 100vh;
}
