.container-fluid {
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
}

.not-choosen {
  height: fit-content;
}

.book {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  margin: 10px;
  .selected {
    position: absolute;
  }
}

.choosen {
  margin-left: auto;
  background-color: #999;
  height: 100vh;
}

.reading-list {
  position: absolute;
}

.hidden {
  visibility: collapse;
}
